*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background: url("pexels-photo-1251299.jpeg");
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 18px;
    line-height: 60px;
    cursor: pointer;
    z-index: 1;
}
.sidebar_menu{
    position: absolute;
    left: -500px;
    height: 95vh;
    width: 300px;
    background-color: rgb(192, 192, 192,0.2);
    box-shadow: 0px 0px 7px rgb(255, 255, 255);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 0px 4px rgb(255, 255, 255); 
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}
.sidebar_menu .btn_two{
    color: silver;
    position: absolute;
    font-size:25px ;
    line-height: 50px;
    left: 250px;
    top: 10px;
    /* opacity: 0; */
    cursor:grab;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 85px;
}
.sidebar_menu .menu li{
    margin: 25px 30px;
}
.sidebar_menu .menu a{
    color: aliceblue;
    text-decoration: none;
    /* margin: 8px; */
    font-size: 20px;
}
li i{
    color: silver;
}
.menu ul{
    list-style-type: none;
}
.social_media ul {
    position: absolute;
    top: 500px;
    left:40px;
}
.social_media ul a{
    padding: 7px;
    font-size: 25px;
    color: silver;
    opacity: 0.6;
}
#check{
    display: none;
}
.sidebar_menu .menu ul li:hover{
    box-shadow: 0px 0px 10px silver;
}
.btn_one i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btn_two i:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.social_media ul a:hover{
    opacity:1;
}
#check:checked ~ .sidebar_menu{
    left:0;
    transition: all 0.7s linear;
}
#check:checked ~ .btn_one{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}